<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layouts/header'); -%>
    
    <script>
        document.getElementById("personalInfo").addEventListener("submit", function(event) {
            const yearInput = document.getElementById("year");
            const currentYear = new Date().getFullYear();
            const enteredYear = parseInt(yearInput.value);
            
            if (enteredYear > currentYear) {
                alert("Year cannot be greater than the current year");
                event.preventDefault();
            }
        });
    </script>
</head>

<body>
    <!-- Navigation-->

    <%- include('layouts/navbar'); -%>

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/TestOne.jpg')">

        </header>
        <!--License Number Form-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">

                         <!--success message-->
                         <div  class="<%= issuccess ? 'enable-div' : 'disabled-div' %>" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Form updated successful!</div>
                                <br />
                            </div>
                        </div>

                        <!--Error message-->
                        <div  class="<%= iserror ? 'enable-div' : 'disabled-div' %>" id="submitErrorMessage"><div class="text-center text-danger mb-3">MiddleWare Validation Failed!</div></div>
                        <form action="/book/appointment/G" method="post">
                            <div class="form-floating">
                                <input type="date" class="form-control" id="date" name="date" min="<%= new Date().toISOString().split('T')[0] %>">
                                    <label for="date">Book Appointment</label>
                        </div>
                        <div id="timeSlotsContainer"></div>
                                    </br>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary" id="submitButton">Book Appointment</button>
                                    </div>
                        </form>

                        <br>
                        <!-- Display user information here -->
                        <form action="/update/car" method="POST">
                            <% if(user) { %>
                                <h3>User Information</h3>

                                <div class="form-floating">
                                    <input class="form-control" id="firstName" name="firstName" type="text"
                                        value="<%= user.firstName %>" readonly />
                                    <label for="firstName">First Name</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="lastName" name="lastName" type="text"
                                        value="<%= user.lastName %>" readonly />
                                    <label for="lastName">Last Name</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="licenseNumber" name="licenseNumber"
                                        value="<%= user.licenseNumber %>" type="text" readonly />
                                    <label for="licenseNumber">License Number</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="age" type="text" name="age" value="<%= user.age %>"
                                        readonly />
                                    <label for="age">Age</label>
                                </div>

                                <div class="form-floating">
                                    <input type="text" class="form-control" id="dob" name="dob" value="<%= user.dob %>"
                                        readonly>
                                    <label for="dob">Date of Birth</label>
                                </div>
                                <!-- Form to update car information -->
                                <h3>Car Information</h3>

                                <div class="form-floating">

                                    <input type="text" class="form-control" id="make" name="make"
                                        value="<%= user.car_details.make %>" placeholder="Enter Make">
                                    <label for="make">Make</label>
                                </div>
                                <div class="form-floating">

                                    <input type="text" class="form-control" id="model" name="model"
                                        value="<%= user.car_details.model %>">
                                    <label for="model">Model</label>
                                </div>
                                <div class="form-floating">
                                    <input type="number" class="form-control" id="year" name="year"
                                        value="<%= user.car_details.year %>" min="1900" max="<%= new Date().getFullYear() %>" >
                                    <label for="year">Year</label>
                                </div>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="platNumber" name="platNumber"
                                        value="<%= user.car_details.platNumber %>"  pattern="[a-zA-Z0-9]{8}" title="Please enter a valid 8-character alphanumeric Plate Number.">
                                    <label for="platNumber">Plate Number</label>
                                </div>
                                <br>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Update Car Information</button>
                                </div>
                                <% } else { %>
                                    <div class="<%= isvisible ? '' : 'disabled-div' %>">
                                    <p>No User Found</p>
                                    <p><a href="/g2test" class=" btn-primary" style="color: blue !important;">Go Back to
                                            G2 Page</a></p>
                                    <% } %>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </article>
        <!-- Footer-->
        <%- include('layouts/footer'); -%>

            <!--Scripts-->
            <%- include('layouts/scripts'); -%>
<script>
     document.addEventListener("DOMContentLoaded", function() {
document.getElementById('date').addEventListener('change', function () {
    const selectedDate = document.getElementById('date').value;
    const timeSlotsContainer = document.getElementById('timeSlotsContainer'); // Assuming this is the container for time slots

    if (selectedDate) {
        fetch(`/gettimeslots?date=${selectedDate}`)
            .then(response => response.json())
            .then(data => {
                // Clear previous content
                timeSlotsContainer.innerHTML = '';
                timeSlotsContainer.textContent='';

                // Render time slots
                if (data && data.length > 0) {
                    let count=0;
                data.forEach(slot => {

                    if (slot.isTimeSlotAvailable) { // Check if time slot is available
                        const timeSlotElement = document.createElement('div');
                        timeSlotElement.innerHTML = `
                            <input type="radio" id="${slot.time}" name="time" value="${slot.time}">
                            <label for="${slot.time}">${slot.time}</label>
                        `;
                        timeSlotsContainer.appendChild(timeSlotElement);
                        count=count+1;
                    }
                    console.log('count..!!',count)

                    
                });
                if (count === 0) {
                        timeSlotsContainer.textContent = 'No booked time slots for selected date';

                    }
            }else{
                timeSlotsContainer.textContent = 'No booked time slots for selected date';
            }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
});

     })
</script>
</body>

</html>